@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */

header {
  background-color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 20px 0px;
  
}

.header-logo-nav img {
  width: 80px;
  margin-right: 40px;
}

.header-logo-nav {
  display: flex;
  align-items: center;
}

.header-logo-nav ul li {
  display: inline;
  margin-left: 30px;
}


.header-logo-nav li a {
  color: #18a0fb;
}

.header-logo-nav li a:hover {
  text-decoration: underline;
  color: #0E6DAC;
  font-weight: bold;
}

.header-list-button button {
  height: 40px;
  width: 120px;

  color: #18a0fb;
  border: 1px solid #18a0fb;
  border-radius: 5px;
  cursor: pointer;
}

.header-list-button button:first-child, .header-list-button button:last-child:hover, .banner-text button:hover {
  background-color: #fff;
  color: #18a0fb;
}

.header-list-button button:last-child, .header-list-button button:first-child:hover {
  background-color: #18a0fb;
  color: #fff;
}


/* SECTION BANNER */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;

  width: 100%;
  height: calc(100vh - 120px);
  gap: 40px;
  
  background: url("../assets/banner.png") no-repeat;
  background-size: cover;
  background-position: cover;

}

.banner img {
  width: 100px;
  border-radius: 100%;
}

/*.button-play img {
  border-radius: 100%;
}*/

.button-play {
  border: none;
  cursor: pointer;
  background: transparent;
  /*border-radius: 100%;*/
  position: absolute;
}

.button-play:hover {
  filter: brightness(70%);
  transition: filter 0.5s;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
}

.banner-text h1 {
  font-size: 56px;
  margin-bottom: 40px;
}

.banner-text button {
  height: 40px;
  width: 140px;

  color: #fff;
  background-color: #18a0fb;
  border: 1px solid #18a0fb;
  border-radius: 5px;
  cursor: pointer;
}





