@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
}

button {
  height: 40px;
  width: 120px;

  background-color: #fff;
  color: #4E9AF4;
  border: 1px solid #4E9AF4;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.6rem;
}

button:hover {
  filter: brightness(0.98);
  background-color: #4E9AF4;
  color: #fff;
  transition: 0.2s;
}

img:hover {
  filter: brightness(0.75);
  transition: 0.2s;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

p, a {
  font-size: 1.6rem;
}


/* HEADER */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 2rem 0;
}

.header-logo-nav img {
  width: 80px;
  margin-right: 4rem;
}

.header-logo-nav {
  display: flex;
  align-items: center;
}

.header-logo-nav ul li {
  display: inline;
  margin-left: 3rem;
}

.header-logo-nav li a {
  color: #4E9AF4;
}

.header-logo-nav li a:hover {
  text-decoration: underline;
  color: #4E9AF4;
  font-weight: bold;
}

.header-list-button button:first-child, .header-list-button button:last-child:hover, .banner-text button:hover, .contact-buttons button:first-child:hover {
  background-color: #fff;
  color: #4E9AF4;
}

.header-list-button button:last-child, .header-list-button button:first-child:hover, .contact-buttons button:last-child:hover {
  background-color: #4E9AF4;
  color: #fff;
}

/* SECTION BANNER */

.banner {
  background: url("../assets/banner.png") no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  gap: 4rem;

  width: 100%;
  height: calc(100vh - 120px);
}

.banner img {
  width: 100px;
  border-radius: 100%;
}

.button-play {
  height: 100px;
  width: 100px;
  
  border: none;
  background: transparent;
  position: absolute;
}

.button-play:hover {
  filter: brightness(70%);
  transition: filter 0.5s;
  border-radius: 100%;
}

.banner-text {
  text-align: center;
  margin-top: 35rem;
}

.banner-text div {
  border-radius: 8px;
  padding: 0 4.5rem;
  margin-bottom: 4rem;

  background: #fff;
  color: #4E9AF4;
}

.banner-text h1 {
  font-size: 4.6rem;
}

.banner-text button {
  height: 40px;
  width: 140px;

  background-color: #4E9AF4;
  color: #fff;
}

/* SECTION ARTICLES */

.articles {
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
}

.articles h2 {
  max-width: 600px;
  line-height: 1.5;
}

.articles-topic {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 4rem;
}

.topic {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 45%;
  text-align: left;
}

/* SECTION CICLISMO */

.bicycling {
  display: flex;
  align-items: center;
  gap: 7rem;

  padding: 8rem 0;
  width: 100%;
}

.bicycling div, .sport-car div{
  width: 50%;
}

.bicycling div:first-child img, .sport-car div:first-child img{
  max-width: 100%;
}

.bicycling div:last-child h4, .sport-car div:last-child h4 {
  margin-bottom: 2rem;
}

/* SECTION SPORT-CAR */

.sport-car {
  background-color: #dfdfdf;
}

.sport-car .container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 7rem;

  padding: 8rem 0;
  width: 100%;
}

/*SECTION BASKETBALL*/

.basketball {
  padding-top: 8rem;
  text-align: center;
  width: 100%;
}

.basketball h2, .basketball h3 {
  margin-bottom: 4rem;
}

.basketball-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.basketball-teams {
  width: 20%;
  margin: 2rem;
}

.basketball-teams img {
  max-width: 100%;
}

/*FOOTER*/

.contact-us {
  background-color: #dfdfdf;
}

.contact-us .container {
  display: flex;
  justify-content: space-between;
  padding: 8rem;
}

.contact-us .container h3 {
  margin-bottom: 4rem;
  line-height: 1.5;
}

.contact-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1.7rem;
}

.contact-buttons button {
  width: 140px;
}

.contact-buttons button:first-child {
  background-color: #4E9AF4;
  color: #fff;
}

/*FOOTER*/

footer {
  padding: 8rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 8rem 0 2rem;
}

.footer-logo img {
  width: 80px;
}

.footer nav ul li {
  display: inline-block;
  width: 140px;
}

.footer .links-footer:first-child {
  text-align: left;
}

.footer .links-footer:last-child {
  text-align: right;
}

.footer nav ul li a {
  color: #000;
  font-weight: bold;
}

.footer nav ul li a:hover {
  text-decoration: underline;
}

.social-media {
  margin-top: 6rem;
  text-align: center;
}

.social-media i {
  margin: 0 0.5rem;
  font-size: 4rem;
  color: #4E9AF4;
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
}

/*RESPONSIVIDADE*/

@media(max-width: 1240px) {

  html {
    font-size: 9px;
  }

  .container {
    max-width: 940px;
  }

  .articles {
    align-items: center;
  }

  .articles h2 {
    max-width: 100%;
  }
  
  .topic {
    width: 100%;

    align-items: center;
    text-align: center;
  }

  .topic button {
    width: 70%;
  }
}

@media(max-width: 960px) {
  
  .banner-text h1 {
    font-size: 3rem;
  }

  .container {
    max-width: 750px;
  }

  .header-logo-nav li:not(li:first-child, li:last-child) {
    display: none;
  }

  .banner .container { 
    width: 100%;
    height: 60vh;
  }
  
  .banner .button-play, .banner .button-play img {
    width: 75px;
    height: 75px;
  }

  .articles h2, .basketball h2 {
    font-size: 2.8rem;
  }
  
  .contact-us .container {
    padding-bottom: 3rem;
  }

  .footer nav ul li {
    width: 100px;
  }
}

@media(max-width: 768px) {

  html {
    font-size: 8px;
  }

  .container {
    max-width: 560px;
  }

  .bicycling, .sport-car .container {
    flex-wrap: wrap;
    justify-content: center;

    gap: 3rem;
    padding: 4rem 0;
  }

  .bicycling div, .sport-car .container div {
    width: 100%;
    text-align: center;
  }

  .basketball-teams {
    width: 40%;
  }

  .contact-us .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .footer nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media(max-width: 576px) {

  .container {
    max-width: 350px;
  }

  .header-logo-nav img {
    width: 50px;
    margin-right: 0;
  }

  .header-logo-nav ul li {
    margin-left: 2rem;
  }

  .header-list-button button {
    width: 70px;
    height: 25px;
  }

  .articles h2 {
    text-align: center;
  }

}